@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Silly Machines</h1>

<ul>
  @foreach (Machine machine in Model)
  {
    <li>@machine.Name</li>
  }
</ul>

<p>@Html.ActionLink("Add New Machine", "Create")</p>