@{
  Layout = "_Layout";
}

<h1>Welcome to WEEK FOUR TEMPLATE!</h1>
<p>@Html.ActionLink("See all TEMPLATE ITEMS", "Index", "TemplateItems")</p> <p>@Html.ActionLink("See all TEMPLATE CATEGORIES", "Index", "TemplateCategories")</p>
