@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1>Silly Engineers</h1>

<ul>
  @foreach (Engineer engineer in Model)
  {
    <li>@engineer.Name</li>
  }
</ul>

<p>@Html.ActionLink("Add New Engineer", "Create")</p>
