@{
  Layout = "_Layout";
}

@using WeekFourTemplate.Models;
@model List<WeekFourTemplate.Models.TemplateItem>;

<h1>TEMPLATE ITEMS INDEX WEBPAGE</h1>

<p>@Html.ActionLink("Add new item", "Create")</p>